
/*Phần đn*/
main{
    margin: 0 auto; 
    width: 40%;
}

h1{
    margin-left: 40px;
    margin-top: 80px;
    color: white;
    width: 500px;
}

.dangnhap{
    margin-left: 40px;
    margin-top: 50px;
    color:white;
    background-color: sienna;
    font-size: 30px;
    width: 500px;
}

.dnhap{
    font-size: 20px;
    margin-left: 40px;
    width: 300px;
    height: 40px;
    background-color: rgb(19, 19, 19);
    color: white;
    margin-top: 40px;
}
.dktk{
    font-size: 15px;
    margin-left: 40px;
    margin-top: 10px;
    color: white;
}

/**/

/*FORM HELP*/
.auth-form__aside{
    margin-top: 10px;
}
.auth-form__help{
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: center;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: 4px 16px 0 ;
    border-left: 2px solid rgb(122, 122, 122);
}
.auth-form__help-forgot{
    color: rgba(245, 110, 57, 0.795);
}
